name: CLI Nightlies (Ubuntu)
on:
  workflow_dispatch:
  schedule:
    - cron: '0 22 * * *'

permissions:
  contents: read

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  test_build:
    name: Test CLI
    timeout-minutes: 20
    runs-on: ["ubuntu-latest"]
    steps:
      - name: Retrieve Code
        uses: actions/checkout@v4
      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.x'
      - name: Install Dependencies
        run: |
          python -m pip install poetry
          poetry self add poetry-plugin-export
          poetry export -f requirements.txt --with dev -o requirements.txt --all-extras
          python -m pip install -r requirements.txt
          python -m pip install .
      - name: Run Tests
        env:
          SIMVUE_URL: ${{ secrets.SIMVUE_URL }}
          SIMVUE_TOKEN: ${{ secrets.SIMVUE_TOKEN }}
        run: |
          python -m pytest -x --cov=simvue_cli --cov-report=term --cov-report=xml -c /dev/null -p no:warnings -v
